@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body {
  font-family: Open Sans;
  font-size: 15px;
}

.group:before,.group:after {content: "";display: table;}
.group:after {clear: both;}
.group {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}

ul {
  margin: 0;
  padding: 0;
}

header {
  background: #B01817;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  width: 100%;
  z-index: 999;

  .menu {
    @extend .group;

    color: #FFF;
    display: block;
    padding: 0;

    li {
      float: left;
      list-style: none;

      a {
        color: #FFF;
        display: block;
        font-weight: 700;
        padding: 15px;
        text-decoration: none;

        &:hover {
          color: #B01817;
          background: #FFF;
        }
      }
    }
  }
}

.content {
  margin: 70px 0 0 0;

  article {
    margin: 0 0 50px 0;

    .article__title {
      font-size: 45px;
      line-height: 1.2;
      margin: 0 0 10px 0;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .article__time {
      font-size: 13px;
      font-style: italic;
      margin: 0 0 10px 0;
    }

    .article__image {
      margin: 0 0 10px 0;
    }

    .article__content {
      font-size: 17px;
      line-height: 1.7;

      a {
        border-bottom: 1px dotted #DF2636; 
        color: #DF2636;
        text-decoration: none;
      }
    }

    .article__read-more-button {
      border-bottom: 1px dotted #DF2636;
      color: #DF2636;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
    }
  }

  .article-not-found {
    border: 1px solid #333;
    background: #DF2636;
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-align: center;
  }
}