<template>
<require from="./bootstrap.css"></require>
<require from="./style.css"></require>
<require from="./zenburn.css"></require>
  <header>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <ul class="menu">
              <li><a href="">Home</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-push-2">
            <div class="article-wrapper" repeat.for="post of posts">
              <article>
                <div class="article__title">${post.title.rendered}</div>
                <div class="article__time">Friday, 12 May 2017</div>
                <div class="article__image"></div>
                <div class="article__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">this</a> and <a href="#">that</a>
                </div>
                <div class="article__read-more-button">Read More</div>
              </article>
              <div class="article-not-found">Seems this is the end of the post.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
</template>
